<% unless @current_user.blank? %>
  <%= simple_form_for [@post, @comment] do |f| %>
    <div class="field">
      <%= f.input :content %>
      <%= f.button :submit , :class => "btn btn-success" ,:value =>"留言" %>
    </div>
  <% end %>
<% end %>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <p>
        <%= image_tag comment.author.image_url(:thumb).to_s , :class => "comment-author-photo" %>
        <%= comment.author.name %>
        :
        <%= comment.content %>
      </p>
    </div>
  <% end %>
</div>
