<div class="post-attached">
  留言數<%= post.comment_count %> |

  <%= image_tag "thumbs_up.png" , :class =>"thumb_up" %>
  <span data-id="like_count_<%= post.id %>"><%= post.like_count %></span>

  <% if user_signed_in? %>   
    <% if current_user.check_like_post?(post) %>
      <%= link_to "收回贊", post_likes_path(post), :method=> :delete, :remote => true, :'data-id' => "like_text_#{post.id}" %>
    <% else %>
      <%= link_to "贊", post_likes_path(post), :method=> :post, :remote => true, :'data-id' => "like_text_#{post.id}" %>
    <% end %>
  <% else %>
    <%= link_to "贊", post_likes_path(post), :method=> :post, :remote => true, :'data-id' => "like_text_#{post.id}" %>
  <% end %>

</div>
