<div class='row' id="posts" data-json-url="<%= posts_url(:format => :json) %>">
  <% @posts.each do |post| %>
    <div class="post-box">
      <%= render 'postAttached', :mustache => json_for(post) %>
      <%= render 'postPhoto', :mustache => json_for(post) %>
      <%= render 'postText', :mustache => json_for(post) %>
    </div>
  <% end %>
</div>

<script type="text/html" id="post_template">
  <div class="post-box">
    <%= render 'postAttached' %>
    <%= render 'postPhoto' %>
    <%= render 'postText' %>
  </div>
</script>
