<% if current_user == @post.author %>
  <%= link_to("修改" , edit_post_path(@post.id))%>
  <%= link_to("刪除" , post_path(@post.id) , method: :delete ,data: { confirm: "確定刪除嗎?"} )%>
<% end %>
<%= link_to("返回" , posts_path , :class => "btn btn-info")%>
<hr>

<div class="row">
  <div class="span12">
      <%= render partial: 'showPost' , locals: { :post => @post } %>

      <%= render partial: 'postAttached' , locals:{ :mustache => json_for(@post)} %>

      <%= render_cell :comment, :show, :post => @post , :current_user => current_user %>
  </div>
</div>

